<div class="bg-container pt-5 pb-5 mt-5 ">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-8 cart-items">
                <div class="main-headings">
                    <h1 class="main-text">Shopping cart</h1>
                    <h1 class="main-price-headings">Price</h1>
                </div>
                <hr />
                <div class="cart-product" *ngFor="let product of allCartItems">
                    <div class=" row ">
                        <div class="col-2">
                            <img class="cart-images" [src]="product.imageURL" />
                        </div>
                        
                        <div class="col-3">
                            <h1>{{product.product}}</h1>
                            <p style="color:aquamarine">In stock</p>
                            <p>Eligible for Free Delivery</p>
                            <span>Size: {{product.quantity}}</span>
                            <button class="delete-btn" (click)="delterItem(product.id)">Delete</button>
                        </div>
                        <div class="col-7">
                            <h1 class="text"><i class="fa-sharp fa-solid fa-indian-rupee-sign"> {{product.totalPrice}}</i></h1>
                        </div>
                    </div>
                    <hr />
                </div>
            </div>
        
        </div>
    </div>

</div>