<div class="bg-container pt-5 pb-5 mt-5">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-8 cart-items">
                <div class="main-headings">
                    <h1 class="main-text">Shopping cart</h1>
                    <h1 class="main-price-headings">Price</h1>
                </div>
                <hr/>
                <div class="cart-product">
                    
                </div>
            </div>
        </div>
    </div>
    
</div>
