.backgroundImage{
    background-image:url("../../assets/image/Loginpage.png");
    height:100vh;
    background-size: cover;
    
    padding:0px;
}
.username-label{
    font-family:"Roboto";
    font-weight:300;
}
.userpassword-label{
    font-family: "Roboto";
    font-weight: 300;
}
.Goof-card{
    background-color: rgb(81, 81, 234);
    width:100%;
    height:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-button{
    background-color: rgb(241, 67, 67);
    color:white;
    border-width: 1px;
    border-radius: 5px;
    padding:5px;
    width:35%;
    font-size:15px;
}
.card-heading{
    color:#ffffff;
    font-size:20px;
}
.card-paragraph{
    color:#ffffff;
    font-size:18px;
    text-align: center;
}
.err-msg{
    color:red;
    border-color: red;
}
.length-form{
    width:40%;
}
.sign-heading{
    font-size: 40px;
    font-weight: bold;
}
.sign-paragraph{
    font-size:15px;

}
input.ng-touched.ng-valid{
    border:2px solid rgb(138, 229, 138);
}
.sing-up{
    color:blue;
    font-size: medium;
}
.gotologinpage{
    color:blue;
    font-size:medium;
}
.registration-page{
     background-color: aquamarine;
}
.invalid-user-display{
    text-align: center;
    color:red;
    font-size:medium;
}