<div class="bg-container">
    <div class="login-card shadow-lg">
        <form [formGroup]="loginform" (ngSubmit)="onSubmit()">
            <h1 class="login-heading">Login</h1>
     
            <label for="username" class="pt-4 label-heading1">User Name</label>
            <input type="text" id="username" class="form-control mt-2" formControlName="username"/>
                <p class="err-msg" *ngIf="loginform.get('username').touched && loginform.get('username').hasError('required')">Enter User Name/Email</p>

            <label for="password" class="label-heading2">Password</label>
            <input type="password" id="psw" class="form-control mt-2" formControlName="password"/>
                <p class="err-msg" *ngIf="loginform.get('password').touched && loginform.get('password').hasError('required')">Enter Password</p>

            <div class="btn-div">
                <button type="submit"  class="login-btn">Login</button>
            </div>
        </form>
        <div>
        <button  class="register-btn" routerLink="../register">New to E-shop/Register here</button>
        </div>
    </div>
</div>
