.bg-container{
    background-image: url("../../../assets/Images/technology-computer-creative-design.jpg");
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-card{
    width:30%;
    height: 60%;
    background-color:azure;
    padding:30px;
    border-radius: 10px;
    box-sizing:content-box;
}
.login-btn{
    color:black;
    font-size: 20px;
    font-weight: bold;
    width:100%;
    padding:9px;
    background-color: darkkhaki;
    border-width: 1px;
}
.btn-div{
    margin-top: 30px;
}
.login-heading{
    font-size: 30px;
    font-weight: bold;
}
.label-heading1{
    font-size: medium;
    font-weight: 400;

}
.label-heading2{
    font-size: medium;
    font-weight: 400;
    padding-top: 10px;
}
.register-btn{
    width:100%;
    margin-top: 30px;
    padding:9px;
    font-size:medium;
    font-weight: 400;
    background-color: cornflowerblue;
    color:azure;
    margin-top: 10px;
    border-width: 1px;
}
.err-msg{
    color:red;
    border-color: red;
}
input.ng-touched.ng-valid{
    border:2px solid rgb(138, 229, 138);
}
.invalidform{
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}
input.ng-touched.ng-invalid{
    border:1px solid red;
}
