<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="menu" class="menu-bar">Menu</button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLinkActive="active" routerLink="/homepage">Home</button>
            <button mat-menu-item routerLinkActive="active" routerLink="/dashboard">Dashboard</button>
            <button mat-menu-item routerLinkActive="active" routerLink="/backenddata">StoresList</button>
            <button mat-menu-item (click)="logoutpage()">Log out</button>
        </mat-menu>
        <span class="dashboard-space">DASHBOARD</span>

        <button mat-icon-button [matMenuTriggerFor]="menu2" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item (click)="onSetTheme('native')">
              Native
            </button>
            <button mat-menu-item (click)="onSetTheme('default')">
              Default
            </button>
            <button mat-menu-item (click)="onSetTheme('athena')">
              Athena
            </button>
            <button mat-menu-item (click)="onSetTheme('poseidon')">
              Poseidon
            </button>
            <button mat-menu-item (click)="onSetTheme('hera')">
              Hera
            </button>
            <button mat-menu-item (click)="onSetTheme('zeus')">
              Zeus
            </button>
          </mat-menu>


        <span class="example-spacer  text-end">
            Welcome {{displayUName}}
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="row d-flex m-3">
    <div class="col-8">
        <mat-form-field class="input-filter">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="search" #input >
          </mat-form-field>
          <!-- <button class="resetbtn"><mat-icon>refresh</mat-icon></button> -->
    </div>
   
    <div class="col-2">
        <button class="createbtn p-2" (click)="openDialog()"><i class="bi bi-plus-square add-icon"></i>Add New</button>
    </div>
    
</div>

<table mat-table [dataSource]="tabledata | paginate:{itemsPerPage:tableSize,currentPage:page,totalItems:count}" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef> FirstName </th>
        <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="lastname">
        <th mat-header-cell *matHeaderCellDef> LastName </th>
        <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
            <span><mat-icon class="icon-spacing" (click)="edituserdata(element)">edit</mat-icon></span><span (click)="deleteitem(element)"><mat-icon >delete</mat-icon></span></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="pagination-div">
    <pagination-controls 
    previousLabel="Prev"
    nextLabel="Next"
    (pageChange)="onTableDataChange($event)">
    </pagination-controls>
</div>