<div class="container mt-5 mb-5">
    <div class="row">
        <h1 class="main-heading">PAYMENT</h1>
        <hr/>
        <div class="col-7">
            <h1 class="default-address">DEFAULT ADDRESS</h1>
            <div class="address-div shadow-lg">
                <h1 class="address-heading">Purushotham</h1>
                <p class="doorno">7-163, India</p>
                <div class="mobile-no">
                    <span>Mobile: </span>
                    <span>8978128843</span>
                </div>
                <p>Cash on Delivery available</p>
            </div>
            <h1 class="payment-mode">Choose Payment Mode</h1>
            <div class="payment-div shadow-lg">
                <h1 class="recommended">Recommended Payment Options</h1>
                <div class="d-flex">
                    <div class="options">
                       <hr/>
                       <span class="items">Cash On Delivery</span>
                       <hr/>
                       <span class="items">Credit/Debit Card</span>
                       <hr/>
                       <span class="items">PhonePe/Google Pay/UPI</span>
                       <hr/>
                       <span class="items">Net Banking</span>
                       <hr/>
                       <span class="items">EMI</span>
                       <hr/>
                    </div>
                    <div class="payment-systems">
                        <ul class="list-options">
                            <li class="pb-3"><input type="radio" id="cash" name="payment" /> <label class="label"
                                    for="cash">Cash on Delivery</label></li>
                            <li class="pb-3"><input type="radio" id="online" name="payment" /> <label class="label"
                                    for="online">Online payments</label></li>
                            <li class="pb-3"><input type="radio" id="cards" name="payment" /> <label class="label"
                                    for="cards">Credit/Debit Cards</label></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 price-details-div">
            <h1>PRICE DETAILS</h1>
            <div class="d-flex justify-content-between"><P>Total MRP</P><span class="text-end">10000</span></div>
            <div class="d-flex justify-content-between"><p>Discount on MRP</p><span>-4000</span></div>
            <div class="d-flex justify-content-between"><p>Convenience Fee</p><span>FREE</span></div>
            <div class="d-flex justify-content-between"><p>Delivery Fee</p><span>FREE</span></div>
            <hr/>
            <div class="d-flex justify-content-between"><p>Total Amount</p><span>6000</span></div>
            <button>PLACE ORDER</button>
        </div>
    </div>
</div>





































<!-- <div class="p-3">
    <div class=" buy-dialog-box">
        <h1 class="payment-heading">Payment</h1>
        <hr />
    </div>
    <div class="user-address">
        <p>Delivar to: </p>
    </div>

    <div class="main-container">
        <div class="payment-option">
            <h1>Choose Payment Mode</h1>
            <div class="payment-options">
                <ul class="list-options">
                    <li class="pb-3"><input type="radio" id="cash" name="payment" /> <label class="label"
                            for="cash">Cash on Delivery</label></li>
                    <li class="pb-3"><input type="radio" id="online" name="payment" /> <label class="label"
                            for="online">Online payments</label></li>
                    <li class="pb-3"><input type="radio" id="cards" name="payment" /> <label class="label"
                            for="cards">Credit/Debit Cards</label></li>
                </ul>
            </div>
        </div>
        <div class="payment-option">
            <h1>PRICE DETAILS( Items)</h1>
            <div>
                <p>Total MRP</p>
                <p></p>
            </div>
            <div>
                <p>Discount on MRP</p>
                <p></p>
            </div>
            <div>
                <p>Convenience Fee</p>
                <p></p>
            </div>
            <div>
                <p>Delivery</p>
                <p></p>
            </div>
            <hr />
            <div>
                Total Amount
            </div>
        </div>
    </div>
    <div class="place-order">
        <button class="place-order-btn">PLACE ORDER</button>
    </div>
    
</div> -->

