*{
    box-sizing: content-box;
}
.main-heading{
    text-align:center;
    text-decoration: underline;
    color:#20BD99;
    font-size:20px;
    font-weight: 600;
    font-family: Assistant,Helvetica,Arial,sans-serif!important;
    text-rendering: optimizeLegibility;
}
.default-address{
    font-size: 12px;
    font-weight: 700;
    color:#535766;
}
.address-heading{
    font-size:14px;
    font-weight: 700;
    color:#282c3f;
    text-transform: capitalize;
    word-break: break-all;
}
.doorno{
    word-break: break-all;
}
.address-div{
    border-style: solid;
    border-width:0px;
    padding: 19px;
    border-radius: 6px;
    margin-bottom:12px;
}
.mobile-no{
    padding-bottom:9px;
}
.payment-div{
    border-style: solid;
    border-width: 0px;
    border-radius: 9px;
}
.payment-mode{
    font-size: 16px;
    font-weight: 700;
    margin-top: 16px;
}
.recommended{
    color:#ff3f6c;
    text-align: center;
    font-size:14px;
    font-weight: bold;
}
.options{
  border-style: solid;
  border-color: #f4f4f5;
  background-color:  #eaeaec;
  width:40%;
  border-width: 1px;
  border-bottom-left-radius: 9px;
}
.items{
    padding:20px;
    font-weight: 700;
}
.list-options{
    list-style-type:none;
}
.label{
    margin-left: 10px;
    font-weight: 500;
    padding:16px;
}
.payment-systems{
    padding:30px;
}
.price-details-div{
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
    padding:30px;
}













.buy-dialog-box{
    background-color: #ffff;
    padding:20px;
}


.payment-heading{
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}
.user-address{
    border-style: solid;
    border-width: 1px;
    padding:20px;
}
.payment-options{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.main-container{
    display: flex;
    justify-content: space-evenly;
    padding-top:10px;
}
.payment-option{
    border-style: solid;
    padding:10px;
    border-width: 1px;
    justify-self: flex-start;
}
.place-order{
    text-align: end;
    padding:10px;
}
.place-order-btn{
    width:40%;
    padding:3px;
    border-width: 1px;
    background-color: #ff3f6c;
    color:#fff;
    font-weight: 700;
    font-size: 14px;
    border-radius: 4px;
    line-height: 48px;
}