.footer-bar-style{
    position: absolute;
    bottom:0%;
}
.footer-text{
    color:#fff;
    font-weight: 400;
}
.eshopLogo2{
    height:55px;
    width:70px;
    padding-right: 20px;
}
.footer-heading{
    color:#fff;
    font-weight: 400;
}
.aboutus-section{
    display: flex;
    justify-content: space-around;
}
.about-us-text{
    color:#fff;
}