<div class="p-3">
    <div class=" buy-dialog-box">
        <h1 class="payment-heading">Payment</h1>
        <hr />
    </div>
    <div class="user-address">
        <p>Delivar to: </p>
    </div>

    <div class="main-container">
        <div class="payment-option">
            <h1>Choose Payment Mode</h1>
            <div class="payment-options">
                <ul class="list-options">
                    <li class="pb-3"><input type="radio" id="cash" name="payment" /> <label class="label"
                            for="cash">Cash on Delivery</label></li>
                    <li class="pb-3"><input type="radio" id="online" name="payment" /> <label class="label"
                            for="online">Online payments</label></li>
                    <li class="pb-3"><input type="radio" id="cards" name="payment" /> <label class="label"
                            for="cards">Credit/Debit Cards</label></li>
                </ul>
            </div>
        </div>
        <div class="payment-option">
            <h1>PRICE DETAILS( Items)</h1>
            <div>
                <p>Total MRP</p>
                <p></p>
            </div>
            <div>
                <p>Discount on MRP</p>
                <p></p>
            </div>
            <div>
                <p>Convenience Fee</p>
                <p></p>
            </div>
            <div>
                <p>Delivery</p>
                <p></p>
            </div>
            <hr />
            <div>
                Total Amount
            </div>
        </div>
    </div>
    <div class="place-order">
        <button class="place-order-btn">PLACE ORDER</button>
    </div>
    
</div>