<nav>
    <ol class="breadcrumb bg-color">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
</nav>
<h5>Dashboard</h5>
<div class="row">
    <div class="col-lg-3 pb-3 " style="background-color: #e9e6e6;">
        <div class="row">
            <div class="col-11 text-white text-center mx-2 rounded pt-2 pv-2 font-weight-bold"
                style="background-color: #a39e9e; font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif">
                {{Designation}}
            </div>
            <div class="col-12 text-center mt-2">
                <img src="assets/user-image.png" width="120px" />
            </div>
            <div class="col-12 text-center pt-2 pb-2 font-weight-bold" style="font-family:Tahoma">
                {{Username}}
            </div>
            <div class="col-12 text-center pt-2 pb-2" style="font-family:Arial">
                TEAM SUMMARY
            </div>
            <div class="col-12 mb-3">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:14px;">
                        NO. OF TEAM MEMBERS
                        <span class="prices">{{NoOfTeamMembers}}</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:14px;">
                        TOTAL COST OF ALL PROJECTS
                        <span class="prices" >${{TotalCostOfAllProjects}} k</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:14px;">
                        PENDING TASKS
                        <span class="prices">{{PendingTasks}} </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center" style="font-size:14px;">
                        UPCOMING PROJECTS
                        <span class="prices" >{{UpComingProjects}} </span>
                    </li>
                </ul>
            </div>
            <div class="col-12 text-center pt-2" style="font-family:'Arial Narrow'">CLIENTS</div>
            <div class="col-12">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">ABC Infotech Ltd.</li>
                    <li class="list-group-item">DEF Software Solutions</li>
                    <li class="list-group-item">GHI Industries</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="row">
            <div class="col-12 pt-0 pb-2" style="background-color: #e9e6e6;">
                <div class="row mt-2">
                    <div class="col-6 text-left">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Project A
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Project A</a>
                                <a class="dropdown-item" href="#">Project B</a>
                                <a class="dropdown-item" href="#">Project C</a>
                                <a class="dropdown-item" href="#">Project D</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 text-right">
                        dropdown 2
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">Box 3</div>
</div>