.bg-color{
    background-color: rgb(212, 218, 219);
    padding:8px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.prices{
    background-color: rgb(112, 111, 111);
    padding-right:2px;
    padding-left:2px;
    border-radius:10px;
    font-size:14px;
    color:aliceblue;
}