.Fashion-img{
    height: 60px;
    width:60px;
}
.nav-headings{
    font-size: medium;
    font-weight: bold;
}
.cards{
    height: 120px;
    width:130px;
    background-color:aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    padding-top:20px;
}
.categoryList-nav{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cards:hover{
    height: 140px;
    width:150px;
    background-image: linear-gradient(to right, red , yellow);
    color:aliceblue;
}
.home-continer{
    // background-image: linear-gradient(to bottom right, red, yellow);
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    height: auto;
}
.home-carousels{
    height: 30vh;
}
.product-card{
    height: 350px;
    width:380px;
    background-color: white;
    border-radius: 9px;
    margin: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gifimage{
    width:100%;
}
.product-image{
    height: 40%;
}
.products-list{
    display: flex;
    flex-wrap: wrap;
}
.product-card:hover{

    height: 370px;
    width:400px;
    border: 2px solid #df1a3b;
}
.star-icon{
    color:gold;
}