.save-button{
  margin-right:10px;
  margin-top:10px;
}
.cancel-button{
  margin-top:10px;
}
.photo-control{
  min-height:300px;
  vertical-align: middle;
  text-align: center;
  border:1px dashed blue;
  margin: 5px;
}
.sell-btn{
  margin-right:10px;
}
