
<div class="login-wrapper">
    <div class="card">
        <div class="card-body">
            <main class="form-signin w-100 m-auto">
                <form (ngSubmit)="onSubmit(signInForm)" #signInForm = "ngForm" >
                  
                  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
              
                  <div class="form-floating">
                    <input type="email" class="form-control" name="email"  id="floatingInput" 
                    placeholder="name@example.com" ngModel>
                    <label for="floatingInput">Email address</label>
                  </div>

                  <div class="form-floating">
                    <input type="password" class="form-control" name="password" id="floatingPassword" 
                    placeholder="Password" required ngModel>
                    <label for="floatingPassword">Password</label>
                  </div>
              
              
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

                  <div class="alert alert-danger" role="alert" *ngIf = "isFormInvalid">
                    Please fill all the fields
                  </div>

                  <div class="alert alert-danger" role="alert" *ngIf = "areCredentialsInvalid">
                    Invalid user or password
                  </div>

                </form>
              </main>
        </div>
    </div>
</div>




  